@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

/* Box Model */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic */

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #ffffff;
  background-image:  -moz-linear-gradient(60deg, rgba(0,0,0, 0.5) 5%, rgba(0,0,1, 0.35)), url("../../assets/css/images/bg.jpg");
  background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(0,0,0, 0.5) 5%, rgba(0,0,1, 0.35)), url("../../assets/css/images/bg.jpg");
  background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(0,0,0, 0.5) 5%, rgba(0,0,1, 0.35)), url("../../assets/css/images/bg.jpg");
  background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(0,0,0, 0.5) 5%, rgba(0,0,1, 0.35)), url("../../assets/css/images/bg.jpg");
  background-repeat: repeat,			no-repeat,			no-repeat;
  background-size: 100px 100px, cover,				cover;
  background-position: top left,		center center,		bottom center;
  background-attachment: fixed,			fixed,				fixed;
}

/* Type */

body, input, select, textarea {
  color: #414f57;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2em;
}
input {
  font-size: 16px;
}

a {
  -moz-transition: color 0.2s ease, border-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-color 0.2s ease;
  transition: color 0.2s ease, border-color 0.2s ease;
  color: inherit;
  text-decoration: none;
}
a:before {
  -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
  -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
  -ms-transition: color 0.2s ease, text-shadow 0.2s ease;
  transition: color 0.2s ease, text-shadow 0.2s ease;
}
a:hover {
  color: #ff7496;
}

strong, b {
  color: #313f47;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #313f47;
  line-height: 1.5;
  margin: 0 0 0.75em 0;
  text-align: center;
}

h1 {
  font-size: 1.85em;
  letter-spacing: 0.22em;
  margin: 0 0 0.525em 0;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.65em;
  }
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 1px #c8cccf;
  margin: 3em 0;
}

/* Form */

.center {
  padding-top:1em;
  text-align: center;
}
label {
  color: #313f47;
  display: block;
  font-weight: bold;
  margin: 0 0 0.75em 0;
}

input,
select,
textarea {
  padding: 0.3em;
}

/* List */
ul {
  list-style: none;
  margin: 0 0 1.5em 0;
  padding-left: 1em;
}

ul li {
  padding-top: 1.5em;
}




/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: inline-block;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  background-color: transparent;
  border-radius: 4px;
  font-weight:bold;
  font-size: 1em;
  background-color:#B8D000;
  border: solid 1px #c8cccf;
  color: #FFF !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

button.plain {
  background-color: gray;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  border-color: #ff7496;
  color: #ff7496 !important;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  width: 100%;
  margin: 0 0 0.75em 0;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35em;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.5;
}

/* Main */
#login, #register, .list-page {
    min-width: 30em;
}
#login, #register, .list-page {
  position: relative;
  max-width: 100%;
  padding: 4.5em 3em 3em 3em;
  background: #ffffff;
  border-radius: 4px;
  cursor: default;
  opacity: 0.95;
  transform-origin: 50% 50%;
  transform: rotateX(0deg);
  transition: opacity 1s ease, transform 1s ease;
}
.list-page {
  padding-top: 3em;
}

#login.dark {
  background-color: #301217;
}
#login.dark h1, #login.dark label {
  color: white;
}
#login.dark input {
  color: black;
}

.avatar {
  position: relative;
  display: block;
  margin-bottom: 1.5em;
}

.avatar img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 0 1.5em #ffffff;
}

.avatar:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -3em;
  width: calc(100% + 6em);
  height: 1px;
  z-index: -1;
  background: #c8cccf;
}

@media screen and (max-width: 480px) {
  #login, #register {
    min-width: 0;
    width: 100%;
    padding: 4em 2em 2.5em 2em ;
  }

  .avatar:before {
    left: -2em;
    width: calc(100% + 4em);
  }
}

/* Wrapper */

#wrapper, list {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  position: relative;
  min-height: 50%;
  padding: 1.5em;
  z-index: 2;
}

#wrapper > * {
  z-index: 1;
}

#wrapper:before {
  content: '';
  display: block;
}

@media screen and (max-width: 360px) {
  #wrapper {
    padding: 0.75em;
  }
}
