form {
  display: flex;
}
input {
  flex: 5;
  margin-right: 0.5em;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li img {
  height: 35px;
}
.done {
  text-decoration: line-through;
}
li button {
  background-color: #ae0001;
  color: white;
  font-weight: normal;
}