<div class="list-page">
  <h1>Add a Grocery</h1> 

  <form>
    <input [(ngModel)]="grocery">
    <button (click)="add()">Add</button>
  </form>

  <hr>

  <div class="link-container">
    <button class="link" (click)="toggleRecent()">
      {{ isShowingRecent ? 'Done' : 'Add from history' }}
    </button>
  </div>

  <ul *ngIf="!isShowingRecent">
    <li *ngFor="let grocery of groceryList">
      <img
        [src]="grocery.done ? './app/assets/images/checked.png' : './app/assets/images/unchecked.png'"
        (click)="toggleDone(grocery)"
      >
      <span [class.done]="grocery.done">{{ grocery.name }}</span>
      <button (click)="delete(grocery)">&times;</button>
    </li>
  </ul>

  <ul *ngIf="isShowingRecent">
    <li *ngFor="let grocery of history">
      <img
        [src]="grocery.done ? './app/assets/images/selected.png' : './app/assets/images/nonselected.png'"
        (click)="toggleDoneHistory(grocery)"
      >
      <span>{{ grocery.name }}</span>
    </li>
  </ul>
</div>

<div class="loading-box" [class.hidden]="!isLoading">
  <img src="./app/assets/images/loading.gif">
  <span>Loading</span>
</div>
